* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/background.svg") no-repeat center;
    background-size: cover;
    font-family: "Be Vietnam Pro", serif;

}

img{
    height: 1.5em;
}
main {
    height: 100vh;
    padding: 15px;
}

h1{
    color:#FFFFFF;
    font-family: "Be Vietnam Pro";
    text-align: center;
    font-size: 1.9em;
}

#estilo-fill{
    font-size: 0.68rem;
    text-align: center;
    color: #fff;
    font-family: "Be vietnam Pro";
    margin-top: 30px;
    margin-bottom: 35px;
}

.formulario{
    display: grid;
    background-color: #FFFFFF33;
    height: 72vh;
    border-radius: 10px;
    padding-left: 20px;
}
input{
    width: 95%;
    height: 3.8em;
    border-radius: 10px;
    border-style: none;
    padding-left: 10px;
    box-shadow: 5px 5px 20px
     rgba(44, 38, 38, 0.5);
}
input::placeholder {
    color: black; /* Cambia el color a gris oscuro */
  }

.estilo-input{
    
    font-family: "Be vietnam Pro";
    color: #fff;
    display: block;
    font-size: 0.6rem;
    
    margin-bottom: 15px;
    margin-top: 10px;
}
textarea{
    height: 8em;
    width: 94.5%;
    border-radius: 10px;box-shadow: 5px 5px 20px
    rgba(44, 38, 38, 0.5);
    padding-top: 15px;
    padding-left: 10px;
}

button{
    width: 94.5%;
    height: 3.9em;
    border-radius: 10px;
    border-style: none;
    box-shadow: 5px 5px 20px
     rgba(44, 38, 38, 0.5);
}

.estilo-bu{

    color: #4036A9;
    font-family: "Be vietnam Pro";
    font-weight: 800;

}

@media(min-width: 1024px){

    body{
        height: 1050px;
        margin: auto o;
    }
    main{
        margin-top: -80px;
    }
    img{
        margin-left: 50px;
        width: 120px;
        height: auto;
    }
    h1{
        font-size: 3.5em;
        width: 700px;
        margin: 0 auto;
        text-align: center;
    }
    #section{
        width: 1024px;
        margin: 0 auto;
    }
      .form-group {
        display: grid;
        grid-template-columns: 1fr 1fr;  /* Dos columnas de igual tamaño */
        gap: 10px;  /* Espacio entre las celdas */
        
      }
    #estilo-fill{
        font-size: 1.9em;
        max-width: 720px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 50px;
    }
      .form-control {
        margin-inline: 16px;
        margin-block: 20px;
      }
      
      .estilo-input {
        margin-bottom: 5px;  /* Espacio entre el label y el input */
        font-size: 1.1em;  /* Tamaño del texto para el label */
      }
      
      input {
        padding: 8px;
        height: 70px;
        font-size: 1em;
      }

      #miTextArea{
        height: 192px;
        width: 950px;
      }

      button{
        width: 950px;
        height: 65px;
        margin-top: -20px;
      }
      .estilo-bu{
        font-size: 1.2em;
      }
}
    
@media(min-width: 1605px){

   body{
    background-image: url("../img/background@2x.png") no-repeat center;
   }
    
    .formulario{
        margin-top: -20px;
    }
    img{
        margin-top: 15px;
        margin-left: -30%;
        padding: 0;
    }

}